.about_wrap p{
	display: block;
	text-indent: 50px;
	font-size: 1.2em;
	margin:0 auto;
	
	text-align: left;
	width: 85%;
}

#about_sec{
	padding-top: 40px;

}

.about_wrap{
	width: 80%;
}

/*Stats styling*/

#stats{
	text-align: center;
	
}

#stats ul{
	font-size: 1em;		
	display: inline;
	padding: 0;	
}

#stats li{
	color: #888;
	text-align: left;
	display: inline-block;
	list-style-type: none;
	padding:0;
	margin-top: 20px;
}

#stats li:not(.first){
	margin-left: 90px;
}

.number{
	font-family: "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
	font-weight: 700;
    font-size: 50px;
    color: rgb(181,55,55);
    margin: 0;
    height: 45px;
    line-height: 100%;
}


@media only screen and (max-width: 790px) {
    /* For mobile phones: */
.about_wrap p{
/*	font-size: .9em;*/
	width: 100%;
	text-indent: 30px;
	font-size: 1em;
	
}

.about_wrap{
	width: 70%;
}

.about_title{
	width: 90%;
	font-size: 1.5em;
} 

#stats li{
	text-align: left;	
	list-style-type: none;
	padding:10px 20px;
	font-size: .6em;
}

#stats{
	padding:30px;
}

#stats li:not(.first){
	margin-left: 0;
}

.number{
	font-family: "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
	font-weight: 700;
    font-size: 30px;
    color: rgb(181,55,55);
    margin: 0;
    height: 45px;
    line-height: 100%;
}
	
}