/*****Styles for Calendar******/
.calendarDiv{
	max-width: 1280px;
	border: 1px solid;
	border-color: white;
	color: rgb(51,51,51);
	padding: 30px;
	margin-bottom: 40px;
	background-color: #f4f4f4;	
}

.cal_title{
	text-align: center;
	width: 40%;
	font-size: 2.3em;
	font-weight: bold;
	padding-bottom: 10px;
	margin-bottom: 40px;
	display: block;
	border-bottom: 1px solid;
	border-color: gray;
	min-width: 750px;
}

#cal-head{
	width: 90%;
	border:none;
	text-align: center;
	padding: 10px 0px;
}

#week {	
	border-collapse: separate;
	width: 95%;
	max-width: 1250px;
	border-spacing: 7px 0px;
	
}

#week th{
	border-radius: 7px 7px 0px 0px;
	border:solid 1px;
	border-color: rgb(181,55,55);
	background-color: rgb(181,55,55);
	color: white;
	border-collapse: collapse;
	padding: 10px;
	min-width: 70px;
	width: 14%;	
	margin:15px;
	font-weight: normal;
	font-size: .8em;
}

#weekRow td{
	overflow: auto;
	position: relative;
	vertical-align: top;
	margin:15px;
	padding: 10px;
	border-top: 0;
	border-radius: 0px 0px 7px 7px;
	box-shadow: 0 20px 20px rgba(0,0,0,0.19), 0 5px 5px rgba(0,0,0,0.23);
}

#weekRow td:hover{
	box-shadow: 0 20px 20px rgba(0,0,0,0.19), 0 15px 15px rgba(0,0,0,0.23);
}

#weekRow{
	height: 120px;
}

#weekName{
	font-size: 1.8em;
}

.day{
	position: absolute;
	top:0;
	right: 0;
	margin-top: 5px;
	margin-right: 5px;
}

.events{
	padding-left: 5px;
	padding-top: 10px;
	font-size: .6em;
	list-style-type: none;
}	

.events ul{
	list-style-type: none;
	
}

.event_links{
	padding: 2px;
	padding-left: 5px;
	border-radius: 5px;
	
}

.event_links:hover{
	background-color: rgb(181,55,55);
	color: white; 
	cursor: pointer;
}

.calBtn:hover{
	cursor: pointer;
	text-shadow: 0px 5px 7px #000;
    -webkit-text-shadow:0px 5px 7px #000;
    -moz-text-shadow: 0px 5px 7px #000;
}

/*****End of calendar styles***/

/*****Event Description Box styling****/
#event_box{	
	clear: both;
	margin:0 auto;
	min-height: 440px;
	min-width: 750px;
	max-width: 850px;	
	width: 65%;
	display: none;
}

#event_img{
	display: inline-block;
	float: left;
	margin-top: 40px;	
}

#event_img img{	
	height: 100%;
	width: 100%;
	max-width: 275px;
}

#event_box table{
	padding-left: 30px;
	padding-top: 20px;
}

#event_box td{
	vertical-align: top;
	text-align: left;
	padding: 4px;
	min-width: 90px;
	max-width: 350px;
}

#event_title{
	font-size: 2.7em;	
}

#event_top{
	height: 50px;
}

/***End of Event Description Box styling***/

@media only screen and (max-width: 790px) {
    /* For mobile phones */
	
	.calendarDiv{
		padding-left: 5px;
		padding-right: 5px;
		width: 95%;
	}

    .week_scroll{
    	overflow-x: scroll;
    }

    .cal_title{
    	min-width: 150px;
    	width: 80%;
    	font-size: 1.4em;
    }

    #weekName{
    	font-size: 1.2em;
    }

    #week{
		padding-bottom: 10px;
	}

    #week td{
    	min-width: 100px;
    }

	.mobile_show{
    	display: inline-block;
    }

    .mobile_column{
    	flex-direction: column;
    }

    #event_box{	
    	font-size: .8em;
    	margin:0 auto;
		width: 95%;
		min-width: 250px;	
		min-height: 300px;
	}	

	#event_box table{
		padding:0;
		width: 70%;
		margin:0 auto;
	}

	#event_title{
		font-size: 1.9em;	
	}

	#event_img{
		display: block;
		float: none;
		text-align: center;
		margin:0 auto;
		margin-top: 10px;
		width: 70%;
	}

	#event_img img{
		float: none;
		margin: 0 auto;
		height: 100%;
		max-width: 100%;
	}

	#event_top{
		height: 10px;
	}


}

@media screen and (min-width: 790px) {
    /*For larger screens only*/
    .mobile_show{
    	display: none;
    }
}