.contact-wrap{
	width: 80%;
}

#contact-info-wrap{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	text-align: left;
	padding-top: 20px;
	width: 80%;
}

.maps{
	width: 500px;
	height: 375px;
	background-image: url('../images/loading.gif');
	background-position: center center;
	background-repeat: no-repeat;
}

#contact-info h3{
	margin-bottom: 5px;
}

#contact-info th:first-child {
	margin-top:0px;
}

#contact-us{
	text-align: center;
	width: 80%;
}

#contact-form{
	text-align: left;
	width: 90%;
	
}

#contact-form td:first-child{
	width: 45%;
}

#contact-form textarea,
#contact-form input {
	padding: 8px;
	font-size: 1.1em;
	width: 100%;
	margin-bottom: 10px;
	border-style: none;
	border: 1px solid;
	border-radius: 5px;
	border-color:rgb(169,169,169);
}

#submit-td input{
	color: rgba(181,55,55, .9);
	border:2px solid rgba(181,55,55, .9);
	border-radius: 5px;
	background-color: transparent;	
	font-weight: bold;
	width: 30%;
	min-width: 150px;
	transition: all .40s ease-in-out;
	-webkit-transition: all .40s ease-in-out;
}

#submit-td input:hover{
	cursor: pointer;
	background-color: rgba(181,55,55, .9);
	color: #f4f4f4;
}

@media only screen and (max-width: 790px) {
    /* For mobile phones: */
    .contact-wrap{
    	min-width: 200px;
		width: 70%;
		font-size: .8em;
	}

	#contact-info-wrap{
		flex-direction: column;
	}
    
    .maps{
    	width: 100%;
    	height: 300px;
    	padding-top: 20px;
    }

    #contact-info{
    	font-size: .9em;
    }

    #contact-form{
    	width: 100%;
    }
}