/*styles for event admin page*/

#new-event-box{
	font-size: 2em;
	font-weight: bold;
	max-height: 100px;
}

#new-event-box:hover{
	cursor: pointer;
}

.ev-box{
	margin:10px;
	width: 20%;
	text-align: center;		
}

.event-box-title{
	font-size: 1.5em;
	font-weight: bold;
}

.ev-box:hover{
	box-shadow: 0 20px 40px rgba(0,0,0,0.19), 0 12px 12px rgba(0,0,0,0.23);
}

.ev-box-btns span{
	margin: 10px;
}

.ev-box-btns span:hover
{
	color: rgb(181,55,55);
	cursor: pointer;
}


.ev-container i{
	color: rgb(181,55,55);
	
}

/*styles for event creator*/
#ev-editor{
	display: none;
}

.x-ev-box{
	color: rgb(181,55,55);
}

.edit:hover,
.x-ev-box:hover{
	cursor: pointer;
}	

.event_page{
	width: 60%;	
}

.edit{
	display: none;
	margin-left: 5px;
}

/*meta schedule section*/
.admin_title{
	text-align: center;
	display: block;
	font-size: 1.8em;
	font-weight: bold;
	color:rgb(51,51,51);	
	margin:0 auto;
	padding: 10px;
}

#add_event {
	border-spacing: 10px 5px;
	margin: 0 auto;
	width: 85%;
}

#add_event *{
	text-align: left;
}

#add_event td{
	vertical-align: top;
}

#table_wrap{
	width: 100%;
	padding: 15px;
	text-align: center;
}

#add_event tr:nth-child(even) td {
     padding-bottom: 1em;   
}

input:not(.radio), textarea, select{
	width: 93%;
	padding: 5px;
	font-size: 1em;
	vertical-align: top;
}

#ev-editor i{
	color: rgb(181,55,55);
}

/*Styling for image chooser*/
#file{
	padding-left: 0;
}

/*End of image chooser style*/

#ev_desc{
	padding: 6px;
	font-family: inherit;
	font-size: inherit;
}


button{
	margin:0 auto;
	padding: 10px 15px;
	color:white;
	background-color: rgb(181,55,55);
	border:none;
	cursor: pointer;
}


.event_times{
	margin-bottom: 30px;
	text-align: center;
}

#sched_title{
	border-bottom: solid 1px;
	width: 80%;
}

#meta_schedule{
	font-size: .8em;
	text-align: left;
	width: 85%;
	margin:0 auto;
}

#meta_schedule i{
	color: rgb(181,55,55);
}

#meta_schedule i:hover{
	cursor: pointer;
}

#empty_msg{
	float: left;	
}

#event_scheduler{
	margin:0 auto;
}

#event_scheduler td{
	padding-bottom: .3em;
	padding-top: .3em;
}

#add_event_meta i{	
	color: rgb(181,55,55);	
}

#add_event_meta{
	width: 85%;
	margin: 0 auto;
}

#add_event_meta span{
	float: left;
}

#add_event_meta:hover{
	cursor: pointer;
	color: rgb(181,55,55);
}

#save_event{
    color: rgba(181,55,55, .9);
    border:2px solid rgba(181,55,55, .9);
    border-radius: 5px;
    background-color: transparent;  
    font-weight: bold;
    width: 30%;
    min-width: 150px;
    transition: all .40s ease-in-out;
    -webkit-transition: all .40s ease-in-out;
}

#save_event:hover{
    cursor: pointer;
    background-color: rgba(181,55,55, .9);
    color: #f4f4f4;
}


/*****Event Preview Box styling****/
#preview_box{
	width: 60%;
	min-width: 300px;
	max-width: 960px;
	display: none;
}

#event_box{	
	clear: both;
	margin:0 auto;	
	width: 90%;
	text-align: center;
	overflow: auto;	
}

#event_img{
	display: inline-block;
	float: left;
	margin-top: 20px;
	margin-right: 30px;	
}

#event_img img{	
	height: 100%;
	width: 100%;
	max-width: 250px;
}

#event_box table{
	padding-left: 30px;
	padding-top: 20px;
}

#event_box td{
	vertical-align: top;
	text-align: left;
	padding: 4px;
	/*min-width: 90px;*/
	max-width: 350px;
}

#event_title{
	font-size: 2.7em;	
}

#event_top{
	height: 30px;
}

/***End of Event Description Box styling***/

@media only screen and (max-width: 790px) {
    /* For mobile phones */
	
	.mobile_show{
    	display: inline-block;
    }

    #new-event-box{
		max-height: 130px;
	}
	.ev-box{
		width: 30%;		
	}

	.event_page{
	width: 80%;	
	}

    /*mobile styles for preview box*/
    .mobile_column{
    	flex-direction: column;
    }

    #event_box{	
    	font-size: .8em;
    	margin:0 auto;
		width: 95%;
		min-width: 250px;	
		min-height: 300px;
	}	

	#event_box table{
		padding:0;
		width: 80%;
		margin:0 auto;
	}

	#event_title{
		font-size: 1.9em;	
	}

	#event_img{
		display: block;
		float: none;
		text-align: center;
		margin:0 auto;
		margin-top: 10px;
		width: 80%;
	}

	#event_img img{
		float: none;
		margin: 0 auto;
		height: 100%;
		max-width: 100%;
	}

	#event_top{
		height: 10px;
	}


}

@media screen and (min-width: 790px) {
    /*For larger screens only*/
    .mobile_show{
    	display: none;
    }
}