.admin_page{
	width: 400px;
}


.admin_title{
	text-align: center;
	width: 65%;
	display: block;
	font-size: 1.8em;
	font-weight: bold;
	color:rgb(51,51,51);
	border-bottom: solid 1px;
	border-color: gray;
	margin:0 auto;
	padding: 10px;
}

#add_event {
	border-spacing: 10px 5px;
	margin: 0 auto;
	width: 65%;
}

#add_event *{
	text-align: left;
}

#add_event td{
	vertical-align: top;
}

#table_wrap{
	width: 85%;
	padding: 15px;
	text-align: center;
}

table {
    border-collapse: collapse;
}

#add_event tr:nth-child(even) td {
    /*padding-top: .5em;*/
    padding-bottom: 1em;
   
}

input:not(.radio), textarea, select{
	width: 100%;
	padding: 5px;
	font-size: 1em;
	vertical-align: top;
}

/*Styling for image chooser*/
#file{
	padding-left: 0;
}

/*End of image chooser style*/

#ev_desc{
	padding: 6px;
	font-family: inherit;
	font-size: inherit;
}


button{
	margin:0 auto;
	padding: 10px 15px;
	color:white;
	background-color: rgb(181,55,55);
	border:none;
	cursor: pointer;
}


.event_times{
	margin-bottom: 30px;
	text-align: center;
	min-height: 240px;
}

#empty_msg{
	color: red;
	font-size: .8em;
}

#event_scheduler{
	margin:0 auto;
}

#event_scheduler td{
	padding-bottom: .3em;
	padding-top: .3em;
}

#add_event_meta{
	background-color: green;
	margin:0 auto;
}

/*Modal styling*/

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
   
}

/* Modal Content/Box */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: 10% auto;
    padding: 0;
    border: 1px solid #888;
    min-width: 50%;
    max-width: 600px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
 }

.modal-header {
	padding: 2px 16px;
	background-color: rgb(181,55,55);
	color: white;
	text-align: center;
}

 /* Modal Body */
.modal-body {
	padding: 5px 16px;
	
}

/* Modal Footer */
.modal-footer {
    padding: 20px 16px;
    /*background-color: rgb(181,55,55);
    color: white;*/
    text-align: center;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.rpt_input{
	display: none;
}

.wday_input{
	display: none;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top: -300px; opacity: 0} 
    to {top: 0; opacity: 1}
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

@media only screen and (max-width: 790px) {
    /* For mobile phones: */
   .modal-content {
   	width: 90%;
   } 
}