.text{
	width: 80%
}

#calBox{
	width: 80%;
}

.page_style{
	border: solid 1px;
	border-color: white;	
	background-color: #f4f4f4;
	padding: 30px;
}

/*****Event Description Box styling****/
.event-container{
	overflow:auto;
	width: 80%;
}

#event_page_box{	
	margin:0 auto;
	width: 80%;
	overflow: auto;
}

#event_page_img{
	display: block;
	float: left;
	margin-top: 40px;
	width: 40%;
}

#event_page_img img{	
	max-width: 100%;
	max-width: 100%;
}

#event_page_box table{
	padding-left: 30px;
	padding-top: 20px;
}

#event_page_box td{
	vertical-align: top;
	text-align: left;
	padding: 4px;
	min-width: 90px;
	max-width: 350px;
}

#event_page_title{
	font-size: 2.7em;	
}

/***End of Event Description Box styling***/

@media only screen and (max-width: 790px) {
    /* For mobile phones: */
    #event_page_img{
    	float: none;
    	width: 80%;
    	margin:0 auto;
    	
    }

    #event_page_box{
    	text-align: center;
    	width: 100%;
    }

    .page_style,
    #calBox{
	    width: 90%;
	    padding:20px 10px;
    }

   	#event_page_title{
		font-size: 1.8em;
	}

	.event-container{
		overflow:auto;
		font-size: .9em;
	}

	#event_page_box table{
		margin:0 auto;
		width: 80%;
		padding-left: 0px;
		padding-top: 10px;
	}

}