html,
body{
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding:0;
	background-color: #E6E5E9;	
	height: 100%;
	width: 100%;
	background-repeat: round;
}

section{	
	width: 100%;
	max-width: 1280px;
	margin:0 auto;	
}

#wrapper {
	min-height:100%;
	position:relative;
	
}

.flex{
	margin:0 auto;
	/*Flexbox code for different browsers*/
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex; 
	-webkit-box-orient: horizontal; 
    -webkit-box-direction: normal;   
	justify-content: center;	
}

.flex-row{
	-webkit-flex-direction: row; 
    -ms-flex-direction: row; 
    flex-direction: row;
}

.flex-wrap{
	-webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.flex-column{

}

.center{
	margin:0 auto;
}

.shadow-box{
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.page{
	width: 70%;
	padding: 30px;
	border: solid 1px;
	border-color: white;	
	background-color: #f4f4f4;
}

.title{
	text-align: center;
	width: 85%;
	display: block;
	font-size: 2.5em;
	font-weight: bold;
	color:rgb(51,51,51);
	border-color: gray;
	margin:0 auto;
	padding: 10px;
}

@media only screen and (max-width: 790px) {
    /* For mobile phones: */

	#content,
	section{
		max-width: 100%;		
	}

	.title{
		font-size: 1.8em;
		width: 95%;
	}
    
}