/************************************************
Styles applied to Deltona Victory Chaple Home page
Author: Bryan Kristofferson
Date: 1/26/2017
**************************************************/

.page_section:nth-child(odd){
	background-color:#efefef;
}

.page_section:nth-child(even){
	background-color: #f4f4f4;
}

.page_section:last-child{
	padding-bottom: 30px;
}

/*section one styles*/
.bgImage {
	text-align: center;
}

.bgImage img{
	vertical-align: top;
	width: 100%;
	height: 100%;
}
/*End of section 1 styles*/

/*Video Section*/
#vid-section {
	max-height: 390px;
}

.video-wrap{
	position: relative;
}

#play-pause-btn{
	cursor: pointer;
	position: absolute;
	margin: auto;
  	top: 0; left: 0; bottom: 0; right: 0;
  	width: 100%;
  	height: 100%;
	left: 0; 
 	right: 0;
  	margin-left: auto; 
  	margin-right: auto; 
  	text-align: center;  	
}

#btn-container{
	width: 100%;
	text-align: center;
	font-size: 2em;
	position: relative;
    top: 32%;
    transform: translateY(-32%);
    color: rgba(255,255,255, 1);
}

#homeVid{
	cursor: pointer;
}

#pause-btn{
	display: none;
}

/*Styles for text boxes with images*/
.box{		
	margin:10px;
	padding: 10px;
}

.text_box{
	width: 28%;	
}

.text_box h2{
	text-align: center;
	color: #B53737;
}

.text_box img{
	width: 100%;
		
}

.img_container{
	height: 40%;
}

/*Styles for bible verse*/
.quote_box{
	width: 100%;
	max-width: 1100px;
	font-size: 1.6em;
	color: rgb(60,60,60);	
}

.quote_wrap{
	
	margin:0 auto;
	width: 100%;
	padding: 40px 0px;
}

.dailyVersesWrapper
{
    width: 70%;
	max-width: 1100px;
	color: rgb(60,60,60);	
}

.dailyVerses
{
	font-style: italic;
}

.dailyVerses a
{	
	padding-right: 2em;
    font-weight: bold;
    float: right;
    padding-top: 10px;
}



/*End of section 2 styles*/

/*************************************
***Mobile phone Styles****************
**************************************/

@media only screen and (max-width: 790px) {
    /* For mobile phones: */

    .displayBox img{
    	width: 95%;
    }

    .text_box{
    	width: 90%;
    	max-width: 450px;
    }

    .mob_img{
    	width: 100%;
    }

    .video-container iframe,
	.video-container object,
	.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 90%;
	height: 85%;
	}

	#vid-section{
		width: 99%;
		
	}

	#btn-container{
		font-size: 1em;
	}

	.mobile_hidden{
    	display: none;
    }

    .quote_box{
    	font-size: 1em;
    }
 
}

@media screen and (min-width: 790px) {
    /*For larger screens only*/
    
}