/************************************************
Styles applied to Deltona Victory Chaple Home page
Author: Bryan Kristofferson
Date: 1/26/2017
**************************************************/
html,
body{
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	min-height: 99%;
	width: 100%;
	margin:0;
	padding:0;
	height:100%;
	background-color: #e0dfe4;	
}

.sec1wrap,
.bgImage,
#header,
#footer,
.flyerWrap,
section{
	max-width: 1600px;
}

a{ 
	text-decoration: none;
	color: inherit;
}

#wrapper {
	min-height:100%;
	position:relative;
}


/*****Navigation Styling*****/
#header{
	width: 100%;
	position: absolute;
	top:0;
	right:-50%;
	left: -50%;
	margin:0 auto;
}

#navbar{
	position: relative;
	margin:0 auto;
	width: inherit;	
	min-width: 768px;
	padding-bottom: 10px;	
	text-align: center;
	color: rgb(181,55,55);
	background-color: rgba(255,255,255,1);
}

#logoImg{
	display: inline;
	margin-top: 10px;
	/*padding-right: 1rem;*/
	/*height: 70px;*/
	width: 300px;	
}

#navbar ul{	
	margin:0 auto;	
	list-style-type: none;
	display: inline-block;	
	padding: 0;
	
}

 #navbar li{
 	font-size: 1em;	
	display: inline;	
	padding: 10px;	
}


/****End of Navigation Style*****/

/*Content styling*/

section{	
	margin:0 auto;
	background-color: #f4f4f4;

}

#sec1{
	text-align: center;
	width: 100%;
}

/*section one styles*/
.bgImage{
	text-align: center;
	margin:0 auto;
	width: 100%;
	height: 100%;
	background-image: url("../images/prayer.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.displayBox img{
	width: 85%;
	opacity: 0.9;
}

.sec1wrap{

	text-align: center;
}

.displayBox {	
	margin:0 auto;
	width: 90%;
}

#serviceDays{
	width: 30%;
}
/*End of section 1 styles*/

/*Section 2 styles*/
#sec2{
	background-color: #f4f4f4;
	padding-top: 50px;
	/*min-height: 1200px;*/
}

/*****Styles for Calendar******/
.title{
	font-size: 3em;
	display: block;
}

hr {
	margin:0 auto;
  border: 0;
  clear:both;
  display:block;
  width: 95%;  
  max-width: 1250px;             
  background-color:black;
  height: 2px;
}

#week {	
	border-collapse: separate;
	width: 95%;
	max-width: 1250px;
	border-radius: 100px;
	border-spacing: 5px 0;

}

#week th{
	border-radius: 7px 7px 0px 0px;
	border:solid 1px;
	border-color: rgb(181,55,55);
	background-color: rgb(181,55,55);
	color: white;
	border-collapse: collapse;
	padding: 10px;
	width: 14%;	
	margin:15px;
}

#weekRow td{
	position: relative;
	margin:15px;
	padding: 10px;
	border:1px solid;
	border-top: 0;
	border-radius: 0px 0px 7px 7px;
}

.calHead{
	border:none;
	text-align: center;
	padding: 10px;
}

#weekRow{
	height: 100px;
}

#month{
	font-size: 2em;
}

.day{
	position: absolute;
	top:0;
	right: 0;
	margin-top: 5px;
	margin-right: 5px;
}

.events{
	padding-left: 10px;
	font-size: .9em;

}

#week td {
	vertical-align: top;
}
/*****End of calendar styles***/

.flyer{
	text-align: center;
}
.flyer img{
	display: inline-block;
	max-width: 20%;
}

/*Styles for text boxes with images*/
.box{		
	margin:15px;
	padding: 10px;
}

.text_box{
	width: 27%;	
	clear: both;
}

.text_box h2{
	text-align: center;
	color: #B53737;
}


.img_container img{
	width: 100%;
	height: 100%;	
}

.img_container{
	height: 40%;
}

.textDesc{
	height: 60%;	
}

/*Styles for prayer*/
.quote_box{
	width: 95%;
	max-width: 1100px;
	font-size: 2em;
	color: rgb(60,60,60);
	font-style: italic;
}

.quote_box span{
	float: right;
}

/*End of section 2 styles*/

/*Section 3 styles*/
#sec3{
	background-image: url("../images/hand.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.connectBtn{
	margin:0 auto;
}

.connectBtn button{
	font-size: 5em;
	font-weight: bold;
	font-variant: small-caps;
	color:rgba(181,51,51,.8);
	border-color: rgba(181,51,51,.8);
	background-color: rgba(255,255,255,.1);	
	border-collapse: collapse;
	border:2px solid;
	outline: none;
	
}

.connectBtn button:hover{
	color: rgb(181,51,51);
	border-color: rgb(181,51,51);
	cursor: pointer;
}

/*End of section 3 styles*/

/*styling used with in content throughout sections*/


.flyerWrap{
	margin:0 auto;
	/*Flexbox code for different browsers*/
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex; 
	-webkit-box-orient: horizontal; 
    -webkit-box-direction: normal; 
    -webkit-flex-direction: row; 
    -ms-flex-direction: row; 
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
	justify-content: center;
	
}

/******End of Content styling******/


/****Footer Styles applied*******/

#footer {
	margin:0 auto;
	background-color: #B53737;
	width:100%;
	max-width: 1400px;
	text-align: center;
	position:absolute;
	bottom:0;
	left:-50%;
	right: -50%;
}

#footer ul{
	font-size: 1em;	
	color: white;
	margin:0 auto;
	display: inline;
	padding:0px 0px 15px 0px;
}

#footer li{
	display: inline-block;
	list-style-type: none;
	padding-left:25px;
	margin-left: 10px;
	margin-right: 10px;
	padding:0;
}

#footerContent{
	padding: 1rem;
	position: relative;
	margin:0 auto;

}
/*End of footer styling*/


/*************************************
***Mobile phone Styles****************
**************************************/

@media only screen and (max-width: 790px) {
    /* For mobile phones: */

    /*Default hide show mobile classes*/
    .mobile_show{
    	display: inline-block;
    }

    .mobile_hidden{
    	display: none;
    } 
    /*Navbar mobile styles*/
    #navbar span{
    	vertical-align: top;
    	padding: 15px;
    	float: right;
    }

    #navbar{
    	min-width: 300px;
    	height: 60px;    	
    }

    #logoImg{
    	width: 170px;
    	margin-left: 15px;
    	float: left;
    }

    #menuBar{
    	text-align: right;
    }

    /*Content mobile styles*/
	.title{
		font-size: 2em;
	}

    .text_box{
    	width: 90%;
    	max-width: 450px;
    	
    }

    .quote_box{
    	font-size: 1.8em;
    }
    
    /*footer mobile styles*/
    #footer li{
		font-size: 2.5em;
		padding: 10px;
	}

	
}

@media screen and (min-width: 790px) {
    /*Hides mobile elements*/
    .mobile_show{
    	display: none;
    }

}