/************************************************
Styles applied to Deltona Victory Chaple Home page
Author: Bryan Kristofferson
Date: 1/26/2017
**************************************************/


#sec1{
	text-align: center;
	width: 100%;
}

/*section one styles*/
.bgImage img{
	text-align: center;
	width: 100%;	
}

/*End of section 1 styles*/

/*Section 2 styles*/
#sec2{
	background-color: #f4f4f4;
	padding-top: 50px;
	/*min-height: 1200px;*/
}

/*Styles for text boxes with images*/
.box{		
	margin:15px;
	padding: 10px;
}

.text_box{
	width: 27%;	
	clear: both;
}

.text_box h2{
	text-align: center;
	color: #B53737;
}


.img_container img{
	width: 100%;
	height: 100%;	
}

.img_container{
	height: 40%;
}

.textDesc{
	height: 60%;	
}

/*Styles for prayer*/
.quote_box{
	width: 75%;
	max-width: 1100px;
	font-size: 1.6em;
	color: rgb(60,60,60);
	font-style: italic;

}

.quote_box span{
	float: right;
}

/*End of section 2 styles*/

/*************************************
***Mobile phone Styles****************
**************************************/

@media only screen and (max-width: 790px) {
    /* For mobile phones: */

    .displayBox img{
    	width: 95%;
    }
	.title{
		font-size: 2em;
		min-width: 300px;
	}

    .text_box{
    	width: 80%;
    	max-width: 450px;
    	
    }
    
}

@media screen and (min-width: 790px) {
    /*For larger screens only*/

}