.resource-wrap{
	width: 80%;
	overflow: auto;
}

#link-container{
	align-content: space-between;
	margin: 20px;
}

#link-container div{
	width: 40%;
	margin: 20px;
}

#link-container img{
	width: 100%;
}

#cfmmap{
	min-height: 800px;
	text-align: center;
	background-image: url('../images/loading.gif');
	background-position: center center;
	background-repeat: no-repeat;
}

#cfmmap iframe{
	border:none;
	pointer-events: none;	
}

.map-hint{
	padding-bottom: 10px;
	font-variant: small-caps;
}

.maps img{
	width: 100%;
}

@media only screen and (max-width: 790px) {
    /* For mobile phones: */
    #cfmmap{
    	min-height: 100px;
    }

    #cfmmap{
	background-image: none;
	}

	.resource-wrap{
	width: 80%;
	}
}